---
version: "2"
services:
  duckdns:
    image: linuxserver/duckdns
    container_name: duckdns
    environment:
      - TZ=America/Argentina/Buenos_Aires
      - SUBDOMAINS=DOMAIN
      - TOKEN=DUCKDNS-TOKEN
    restart: always